
  div{
    margin: 4px;
    border-width: 2px;
  }
  body{
    background-color: #ffffff;
  }
  h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 15px;
  }
  h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 15px;
  }
  h3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 10px;
    padding-bottom: 30px;
  }
  h4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 60px;
    margin: 15px;
  }
  h5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 15px;
    color: rgba(0, 0, 0, 0.13);
  }
  h6{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 35px;
    margin: 5px;
    color: gray;
  }
  p{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin: auto;
    font-size: 40px;
  }

    .box-one{
      border-style: solid;
      opacity: 40%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: gray;
      padding-bottom: 0px;
    }
    .box-two{
      border-style: hidden;
      padding-top: 0px;
    }
    .box-twoish{
      margin-top: 66px;
      border-style: hidden;
      padding-top: 0px;
    }
    .box-three{
      text-align: center;
      border-style: hidden;
      border-width: 0px;
      padding-top: 10px;
    }
    .box-four{
      text-align: left;
      border-style: solid;
      opacity: 40%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: gray;
      margin-bottom: 150px;
    }
    .box-five{
      margin-top: 300px;
      margin-bottom: 55px;
      border-style: solid;
      opacity: .5;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: gray;
      padding-bottom: 0px;
    }
    .button{
      background-color: #ffffffs;
      border: none;
      color: black;
      padding: 7px 128px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button:hover{
      background-color: #000000;
      color: white;
    }
    .button-two{
      background-color: #ffffff;
      border: none;
      color: black;
      padding: 7px 28px;
      text-align: center;
      text-decoration: underline;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.23);
    }
    .button-two:hover{
      background-color: #000000;
      color: white;
    }

    #footer{
      text-align: center;
      position: fixed;
      left: auto;
      height: 80px;
      bottom: 0px;
      margin: 0px;
    }
