
  div{
    margin: 4px;
    border-width: 2px;
  }
  h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 100;
    margin: 15px;
  }
  h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60;
    margin: 15px;
  }
  h3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 60;
    margin: 10px;
    padding-bottom: 7px;
  }
  h4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 60;
    margin: 15px;
  }
  h5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60;
    margin: 15px;
    color: rgba(0, 0, 0, 0.3);
  }
  h6{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 42;
    margin: 5px;
    color: gray;
  }
    .box-one{
      border-style: solid;
      opacity: 40%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: gray;
      padding-bottom: 0px;
    }
    .box-two{
      border-style: hidden;
      padding-top: 0px;
    }
    .box-twoish{
      margin-top: 66px;
      border-style: hidden;
      padding-top: 0px;
    }
    .box-three{
      border-style: hidden;
      border-width: 0px;
      padding-top: 10px;
    }
    .box-four{
      text-align: left;
      border-style: solid;
      opacity: 40%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: gray;
      margin-bottom: 500px;
    }

    #footer{
      text-align: center;
      position: fixed;
      left: auto;
      height: 100px;
      bottom: 0px;
      margin: 0px;
    }
